.wrapper {
    position: relative;
    min-height: 100vh;
    background-color: #abdafe;
    background-image: url("../../images/map_sample.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.cell {
    .head {
        text-transform: uppercase;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        color: #565656;
        .icon {
            width: 12px;
            vertical-align: text-top;
        }
    }
    &.border {
        border-bottom: 1px solid #c7c7c7;
    }
    .sub-head {
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        color: #565656;
        &.value {
            font-size: 1.1rem;
            color: #111;font-weight: 800;
            margin-bottom: 0;
            
        }
    }
}
.icon {
    width: 20px;
    vertical-align: text-top;
    &.green {
        color: #2fa000;
    }
    &.phone {
        color: #5b3882;
        width: 13px;
    }
}

.dp {
    border-radius: 5px;
    overflow: hidden;
    width: 68px;
    height: 68px;
    float: left;
    margin-right: 15px;
}
.phone {
    margin-top: 5px;
    .battery {
        display: block;
        margin-top: 5px;
        text-transform: none;
        font-style: normal;
    }
    .number {
        border-bottom: 1px dotted #7d7d7d;
        cursor: pointer;
    }
    i {
        font-size: 14px;
        color: #484848;
    }
}
.drive {
    border-left: 1px solid #d6d6d6;
}
.hr {
    margin: 0 -17px;
    height: 1.9px;
}
.vehicle-info {
    .dp {
        width: 190px;
        height: 86px;
    }
}
.ship-overview {
    h3 {
        font-size: 1.3rem;
    }
    h4 {
        margin-top: 10px;
        color: #484848;
        font-size: 1rem;
    }
}
.rel {
    position: relative;
}
.status {
    position: absolute;
    right: 15px;
    top:9px;
    background: #00b500;
    padding: 6px;
    width: 120px;
    border-radius: 100px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Nunito";
}
.tabList {
    p {
        font-family: "Nunito";
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0px;
        color: #535353;
        &.active {
            color:#018801;
            border-bottom: 2px solid #018801;
            padding-bottom: 3px;
        }
    }
    .icon {
        width: 12px;
        vertical-align: initial;
    }
}
.colg {
    border: 1px solid #d4d4d4;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.noT {
        border-top: 0;
    }
    &.noL {
        border-left: 0;
    }
    &.noR {
        border-right: 0;
    }
    &.noB {
        border-bottom: 0;
    }
}
.step {
    min-height: 120px;
    .event {
        position: relative;
        &:after {
            content: "";
            width: 20px;
            background-color: #000;
            background-image: url("../../images/road-indicator.png");
            background-repeat: repeat-y;
            position: absolute;
            height: 100%;
            right: 15px;
            top:0;
            animation: animatedBackground 500s linear infinite;


            @keyframes animatedBackground {
                from {
                  background-position: 9px 0 ;
                }
              /*use negative width if you want it to flow right to left else and positive for left to right*/
                to {
                  background-position: 9px 10000px;
                }
              }
        }
        &:before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #000;
            position: absolute;
            right: 30px;
            top: 10px;
            transform: rotate(45deg);
        }
    }
}

.comment {
    font-size: 14px;
    font-family: "Nunito";
    background: #efefef;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.stepper {
    padding-bottom: 5rem;
    border: 1px solid #c8c8c8;
    padding: 1rem;
}
.bgRed {
    background-color:#ff000063;
}
.toggle-container {
    display: flex;
    font-family: "Nunito";
    flex-direction: column;
}
.vehicleImage {
    width: 100%;
    border-radius: 4px;
}
.documents {
    padding: 0;
    list-style-type: none;
    li {
        margin-top: 1rem;
    }
    a {
        font-family: "Nunito";
        font-size: 1.1rem;
        border-bottom :1px dotted;
    }
}
.path {
    padding-left: 5rem !important;
    position: relative;

    &.origin {
        &:after {
            content: "";
            width: 1px;
            border-right: 2px dashed #909090;
            height: 100%;
            position: absolute;
            top: 48px;
            left: 30px;
        }
    }

    .state {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50% 50%;
        border: 0;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1;
        &.red {
            background-color: #ff2525;
        }
        &.green {
            background-color: #4caf50;
        }
    }
}