.header {
    width: 100%;
    background-color: #5b3782;
    min-height: 4rem;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content:space-between;
    color: white;
}
.logo {
    width: 250px;
}
