.icon-stroke {
  stroke: currentColor;
}

.icon-fill {
  fill: currentColor;
}

.icon-size-sm {
  height: $gap-sm;
  width: $gap-sm;
}

.icon-size-default {
  height: $gap;
  width: $gap;
}

.icon-size-md {
  height: $gap-md;
  width: $gap-md;
}

.icon-size-lg {
  height: $gap-lg;
  width: $gap-lg;
}

.text-underline {
  text-decoration: underline;
}

.text-ucase {
  text-transform: uppercase;
}

.text-read {
  max-width: 60rem;
}

.text-center {
  text-align: center;
}

.sr-only {
  @include sr-only;
}
.full {
  width: 100%;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float:none !important;
}
/* Effects */
.transiter {
  transition: opacity 0.5s;
}