//-- Debug your box model (options: true, false)
$enable-debugger:           false;

//-- Let CSS4 make your life easier, or don't (options: true, false)
$enable-css-variables:      true;

//-- Enable spacer utility classes
$enable-spacers:            true;

//-- Enable flexbox grid system
$enable-grid-classes:       true;

//-- Enable flexbox utility classes
$enable-flex-classes:       true;

//--- Spacing
$one:                       0.0625rem;

$spacer:                    1rem;
$spacer-x:                  $spacer;
$spacer-y:                  $spacer;

$gap-xs:                    $spacer / 2;
$gap-sm:                    $spacer;
$gap:                       $spacer * 2;
$gap-md:                    $spacer * 3;
$gap-lg:                    $spacer * 4;

//-- Grid settings
$grid-columns:                12;
$grid-gutter-width:           $gap;

//-- Viewports
$screen-xs:                 33.75rem;
$screen-sm:                 48rem;
$screen-sm-min:             $screen-sm - $one;
$screen-sm-ls:              64rem;
$screen-md:                 45rem;
$screen-lg:                 75rem;
$screen-xl:                 90rem;

//-- Layout
$header-height:             8rem;
$header-height-collapsed:   6.5rem;
$sidebar-width:             16rem;
$footer-height:             $gap-md;

//-- Forms
$input-height:              $gap + 0.5rem;

//-- Typography
$font-regular:              'Nunito', sans-serif;
$font-heading:              'Nunito', sans-serif;
$font-size-base:            14px;

$line-height-small:         1.5;
$line-height-base:          1.428571429;
$line-height-large:         1.3333333;

$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-semibold:      500;
$font-weight-bold:          700;

$font-size-h1:              3.5rem;
$font-size-h2:              2rem;
$font-size-h3:              1.5rem;
$font-size-h4:              1.25rem;
$font-size-h5:              $font-size-base;
$font-size-h6:              0.875rem;

//- Brand Colors
$gray-lt:                   #f6f6f6;
$gray:                      #ced4db;
$gray-md:                   #999999;
$gray-dk:                   #343434;

$brand-primary:             #5b3782;
$brand-secondary:           #75BFED;
$brand-tertiary:            #000000;
$brand-quinary:             #E8EFF7;

$success:                   #93c461;
$info:                      #5bc0de;
$warning:                   #f29f4e;
$danger:                    #e24f44;

//-- Element colors
$text-dark:                 #333333;
$text-color:                $gray-dk;
$text-light:                darken($gray,10%);

$link-color:                $brand-primary;
$link-active:               darken($brand-primary,10%);

$border-default:            #d5d5d5;
$border-lt:                 $gray-lt;
$hr-bg:                     $gray;

//-- Layout colors
$page-bg:                   #eeeee5;

$header-bg:                 #fafafa;
$header-color:              $text-color;

$sidebar-bg:                $brand-primary;
$sidebar-border-color:      darken($brand-primary,14%);

$fancy-fire-color: #f9546e;
$fancy-bringle-color: #9a32f0;
$fancy-coral-color: #049aff;

$fancy-fire-border-color: #ad2d3c;
$fancy-bringle-border-color: #763ca3;
$fancy-coral-border-color: #0469ad;